:root {
    --font-official: "Times", "Source Code Pro", "PT Serif", "Libre Baskerville", "Lora", "Mukta", "Noto Sans", "Georgia", "Segoe UI Symbol", "Segoe MDL2 Assets", "仿宋", serif;
    --background-green: linear-gradient(to right, rgb(18, 44, 56), rgb(46, 167, 206), rgb(18, 44, 56));
    --background-blue: linear-gradient(to right, #0c63e4, rgb(46, 167, 206), #0c63e4);
    --background-purple: linear-gradient(to right, rgb(76, 13, 122), rgb(185, 33, 196), rgb(76, 13, 122));
    --border-green: #007bff solid 1px;
    --green: #007bff;
    --gray: rgba(128, 128, 128, 0.8);
    --background-black: #15171E;
    --default-font-size: 24px;
    --title-weight: 750;
    --cubic-bezier: cubic-bezier(0.16, 0.51, 0.88, 0.47);
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
}

body {
    min-width: 180vh;
    background-color: rgb(94, 201, 107);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
            0deg,
            rgba(94, 201, 107, 1) 0%,
            rgba(233, 233, 233, 1) 100%
    );
}

.field {
    perspective: 1000px;
    width: 100vh;
    height: 90vh;
    position: relative;
}

.swing {
    transform-style: preserve-3d;
    position: relative;
    width: 50vh;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emojiGirl {
    transform-style: preserve-3d;
    font-size: 150px;
    position: relative;
}

.girlSwing {
    animation: swing ease-out 1000ms;
}

@keyframes swing {
    50% {
        transform: rotatey(90deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}


.emojiBall {
    z-index: 2;
    transform-style: preserve-3d;
    position: absolute;
    transform: translateZ(2em);
    font-size: 30px;
}

.runningBall {
    animation: bump 500ms cubic-bezier(0, 0.36, 0.89, 0.58) infinite;
    animation-fill-mode: both;
}

@keyframes bump {
    0%, 75% {
        transform: translate(0);
    }
    30% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
    }
}


.plain-shadow{
    transform: translateZ(-5em);
    width: 229px;
    height: 30px;
    position: absolute;
    bottom: 8px;
    right: 5px;
    z-index: 0;
    border-radius: 50%;
    box-shadow: 0 0 20px var(--gray);
}


.field-img {
    transform: translateZ(-5em);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 250px;
    height: 250px;
    z-index: 1;
}