

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
}

body {
    width: 200vmin;
    min-height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #15171E;
    color: white;
    gap: 2%;
    font-family: var(--font-official);
}

.container-right, .container-left {
    display: flex;
    width: 300px;
    height: 300px;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.rect {
    background-color: #5DBCF9;
    transform: translateY(-10px);
    height: 82px;
    width: 80px;
    border-radius: 8px 0 0 8px;
}

.trapezium {
    border-right: 150px solid #5DBCF9;
    border-bottom: 120px transparent solid;
    height: 300px;
    width: 0px;
    border-top: 100px solid transparent;
}

.outer-circle, .inner-circle {
    border-radius: 50%;
}

.outer-circle {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #5DBCF9;
    justify-content: center;
    position: absolute;
    right: 140px;
}

.inner-circle {
    height: 100px;
    background-color: #15171E;
    box-shadow: 0 0 0 15px #5DBCF9, 0 0 0 40px #15171E, 0 0 0 55px #5DBCF9, 0 0 0 80px #15171E;
    width: 100px;
}